body {
    color: black;
    font-size: 16px;
    margin: 0px auto 0px auto;
    width: 800px;
}

code {
    font-size: 14px;
    background: #f2f2f2;
    display: inline-block;
    padding: 0px 3px;
}

div#header {
    border-bottom: 2px solid black;
    margin-bottom: 30px;
    padding: 12px 0px 12px 0px;
}

div#logo a {
    color: black;
    float: left;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

div#header #navigation {
    text-align: right;
}

div#header #navigation a {
    color: black;
    font-size: 18px;
    font-weight: bold;
    margin-left: 12px;
    text-decoration: none;
    text-transform: uppercase;
}

div#footer {
    border-top: solid 2px black;
    color: #555;
    font-size: 12px;
    margin-top: 30px;
    padding: 12px 0px 12px 0px;
    text-align: right;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

div.info {
    color: #555;
    font-size: 14px;
    font-style: italic;
}

table {
    width: 100% !important;
}

table th {
    text-align: left;
    border-bottom: 1px solid #333;
}
table td {
    border-bottom: 1px solid #ccc;
    vertical-align: top;
    padding: 2px 4px;
    width: auto;
}

/* Generated by pandoc. - HASKELL SYNTAX HIGHLIGHTING */
div.sourceCode {
    font-size: 14px;
    background: #f9f9f9;
    padding: 10px;
    max-height: 300px;
    overflow-y: scroll;
    display: block;
}
table.sourceCode, tr.sourceCode, td.lineNumbers, td.sourceCode, table.sourceCode pre, .sourceCode { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    border: none; 
}

code.sourceCode {
    background: transparent;
    display: inline;    
}

td.lineNumbers { border-right: 1px solid #AAAAAA; text-align: right; color: #AAAAAA; padding-right: 5px; padding-left: 5px; }
td.sourceCode { padding-left: 5px; }
.sourceCode span.kw { color: #007020; font-weight: bold; }
.sourceCode span.dt { color: #902000; }
.sourceCode span.dv { color: #40a070; }
.sourceCode span.bn { color: #40a070; }
.sourceCode span.fl { color: #40a070; }
.sourceCode span.ch { color: #4070a0; }
.sourceCode span.st { color: #4070a0; }
.sourceCode span.co { color: #60a0b0; font-style: italic; }
.sourceCode span.ot { color: #007020; }
.sourceCode span.al { color: red; font-weight: bold; }
.sourceCode span.fu { color: #06287e; }
.sourceCode span.re { }
.sourceCode span.er { color: red; font-weight: bold; }